@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

* { -webkit-tap-highlight-color: transparent; }

body {
  @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
}
